<div class="dash-btns" align="center">
  <a href="#" class="btn btn-danger"  data-toggle="modal" data-origin="main" data-target="#modal-pagar">+ Nuevo Cuentas a Pagar</a>
  <a href="#" class="btn btn-primary" data-toggle="modal" data-origin="main" data-target="#modal-receber">+ Nuevo Cuentas a Recebir</a>
</div>

<%= render 'modal_pagar' %>
<%= render 'modal_receber' %>
<%= render 'modal_new_proveedor' %>
<%= render 'modal_new_cliente' %>
