<div class="modal fade" id="fc-detalhe-rc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h1 style="font-size: 16px; font-weight: bold; padding: 0px !important; color: #fff"> Recebir
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">
        <div class="panel-content" id="pagina-titulo-rc"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fc-detalhe-pg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        <h1 style="font-size: 16px; font-weight: bold; padding: 0px !important; color: #fff"> Pagar
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">
        <div class="panel-content" id="pagina-titulo-pg"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#fc-detalhe-rc, #fc-detalhe-pg').on('shown.bs.modal', function(event) {
    $("#data-titulo").text($(event.relatedTarget).data('vencimento'));


    url="/main/fc_detalhe?tipo="+ $(event.relatedTarget).data('tipo') + "&vencimento="+ $(event.relatedTarget).data('vencimento') + "&visao="+ $(event.relatedTarget).data('visao');

    AjaxTitulo(url);

    function AjaxTitulo(url){
      $('#spinner2').show();

      req = null;

      if (window.XMLHttpRequest) {

        req = new XMLHttpRequest();
        req.onreadystatechange = processReqChange;
        req.open("GET",url,true);
        req.send(null);


      } else if (window.ActiveXObject) {

        req = new ActiveXObject("Microsoft.XMLHTTP");

        if (req){
          req.onreadystatechange = processReqChange;
          req.open("GET",url,true);
          req.send();
        }
      }
    }

    function processReqChange(){
      if (req.readyState == 4) {
        if (req.status ==200) {
            onSuccess:$('#spinner2').hide();
            document.getElementById('pagina-titulo-rc').innerHTML = req.responseText;
            document.getElementById('pagina-titulo-pg').innerHTML = req.responseText;
        } else {
            alert("Houve um problema ao obter os dados:n" + req.statusText);
        }
      }
    }

  });
</script>
