
<p>
  <strong>Pedido compra:</strong>
  <%= @pedido_compra_financa.pedido_compra_id %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @pedido_compra_financa.vencimento %>
</p>

<p>
  <strong>Cota:</strong>
  <%= @pedido_compra_financa.cota %>
</p>

<p>
  <strong>Documento numero:</strong>
  <%= @pedido_compra_financa.documento_numero %>
</p>


