<h1 align="right" id="header">Soporte</h1>
poner el comando aquí:
<%= form_tag consulta_suportes_path, :method => "post" do %>
   <%= text_area_tag :consulta, nil, :rows => 20, :cols => 100 %>
   <br/>
   <%= submit_tag '      Enviar      ' %>
<% end %>
