<h1 align="right" id="header">Soporte</h1>
poner el comando aquí:
<%= form_tag consulta_suportes_path, :method => "post" do %>
   <%= text_area_tag :consulta, nil, :rows => 20, :cols => 100 %>
   <br/>
   <%= submit_tag '      Enviar      ' %>
<% end %>
<%

datas = [
'3f',
'agro_cordillera',
'baby_shop',
'beux',
'carlos_bambu',
'casa_blanca',
'casa_moeda',
'cec',
'chronos_adm',
'crescer',
'dasilva',
'datasafer',
'davila',
'ddn',
'distriagro',
'doria',
'ducampo',
'impactus',
'itatec',
'jk_service',
'luffe',
'luz_ma',
'maxshop',
'megacenter',
'menegaz',
'planner',
'pointer',
'santa_catalina',
'santacatalinamt',
'srvtecnet',
'teccursos',
'tecno_tierra',
'theboss',
'thomaze',
'tork_performace',
'vmmujer'
]


datas.each do |db|
   postgres = PG.connect :host => 'db-postgresql-chronos2-do-user-6983944-0.b.db.ondigitalocean.com', :port => 25060, :dbname => db, :user => 'doadmin', :password => 'AVNS_fJ3ugqAKe6m7keYRk-w'


   tables = postgres.exec("CREATE INDEX idx_produtos_fts ON produtos USING GIN (to_tsvector('portuguese', upper(COALESCE(NOME, '') || ' ' || COALESCE(REFERENCIA, '') || ' ' ||  COALESCE(OBS, '') || ' ' || COALESCE(FABRICANTE_COD, '')  || ' ' || COALESCE(BARRA, '') || ' ' || COALESCE( CAST(ID AS CHARACTER VARYING ), '') )));")

   puts "Gerado #{db}"

   puts postgres.close

end
%>