
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @grupo_personas_dt.persona_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @grupo_personas_dt.status %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @grupo_personas_dt.motivo %>
</p>


