
<p>
  <strong>Ordem entrega:</strong>
  <%= @ordem_entrega_produto.ordem_entrega_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @ordem_entrega_produto.produto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @ordem_entrega_produto.quantidade %>
</p>


