
<p>
  <strong>Numero:</strong>
  <%= @lote.numero %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @lote.vencimento %>
</p>

<p>
  <strong>Numero registro:</strong>
  <%= @lote.numero_registro %>
</p>


