
<p>
  <strong>Pipeline:</strong>
  <%= @pipeline_usuario.pipeline_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pipeline_usuario.usuario_id %>
</p>

<p>
  <strong>Permissao:</strong>
  <%= @pipeline_usuario.permissao %>
</p>


