<h1 id="header">pedido_traslado_docs</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_pedido_traslado_doc_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Pedido traslado</t>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @pedido_traslado_docs.each do |pedido_traslado_doc| %>
      <tr>
                  <td><%= pedido_traslado_doc.pedido_traslado_id %></td>
                <td><%= link_to 'Editar', edit_pedido_traslado_doc_path(pedido_traslado_doc) %></td>
        <td><%= link_to 'Borrar', pedido_traslado_doc, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

