
<p>
  <strong>Avaliacao func:</strong>
  <%= @avaliacao_func_ref.avaliacao_func_id %>
</p>

<p>
  <strong>Avaliacao ref:</strong>
  <%= @avaliacao_func_ref.avaliacao_ref_id %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @avaliacao_func_ref.nota %>
</p>


