
<p>
  <strong>Entrega:</strong>
  <%= @entrega_venda.entrega_id %>
</p>

<p>
  <strong>Venda:</strong>
  <%= @entrega_venda.venda_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @entrega_venda.status %>
</p>


