
<p>
  <strong>Data:</strong>
  <%= @pc_resumo_me.data %>
</p>

<p>
  <strong>Custo fixo gs:</strong>
  <%= @pc_resumo_me.custo_fixo_gs %>
</p>

<p>
  <strong>Custo variavel gs:</strong>
  <%= @pc_resumo_me.custo_variavel_gs %>
</p>

<p>
  <strong>Faturamento:</strong>
  <%= @pc_resumo_me.faturamento %>
</p>


