<div class="panel">
  <h1 id="header">Logistica - Lista de Carga Simplificada</h1>
  <div class="panel-content">
    <%= form_tag busca_presupuestos_path, :method => "get" do %>
      <table>
        <tr>
          <td>
            <select name="tipo" id="tipo">
              <option>CLIENTE</option>
              <option>CODIGO</option>
              <option><%= t('DOC').upcase %></option>
            </select>
          </td>
          <td colspan="4">
            <input id="busca" name="busca" type="text" onkeyup = "pesquisa(this.value),f(this)"onkeydown = "f(this)" size="35" autocomplete="off"/>
          </td>
          <td>
            <select name="status_entrega" id="status_entrega">
              <option value="0">Pediente</option>
              <option value="1">Separación</option>
              <option value="2">En Rota</option>
              <option value="3">Finalizado</option>
            </select>
          </td>
          <td>
            <input type="button" class="btn btn-blue" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar" />

            <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner", width: 21, height: 21, style: "display: none;") %>

          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<div id="pagina"></div>

</div>
<script language="javascript">

    $(document).ready(function() {
      url="/logistica/busca?" + $('form').serialize();
      ajax(url);
    });

  function pesquisa(valor){
    url="/logistica/busca?" + $('form').serialize();
    ajax(url);
  }

</script>

<%= javascript_include_tag 'busca_ajax' %>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalOrdemEntrega">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h2 class="modal-title" id="myModalLabel" align="center">Ordem Entrega <span class="btn btn-danger">No Liberado</span></h2>
      </div>
      <div class="modal-body-oe" style="padding: 10px">

      </div>
    </div>
  </div>
</div>

<script>
  $('#ModalOrdemEntrega').on('show.bs.modal', function (e) {
    var loadurl = $(e.relatedTarget).data('load-url');
    $(this).find('.modal-body-oe').load(loadurl);
  });
</script>


