<div class="group" align="center">
  <h1 id="header">Device <%= "Token: M6alkCCgKyF - Instance: megastart-M6alkCCgKyF" %></h1>
  <br>
  <h2 align="center">Status: <span id="whatsappStatus"></span></h2>

  <p>
    <a href="#" id="createQrcodeBtn" class="btn btn-green"><i class="icon-white icon-qrcode"></i> Gera QR</a>
    <a href="#" id="whatsappLogoutBtn" class="btn btn-danger" style="display: none;">Desconectar</a>
  </p>
  <p><img id="qrCodeImg"></img></p>
  <p><%= link_to 'Salir', devices_url %></p>
</div>
