
<p>
  <strong>Inicio:</strong>
  <%= @persona_feria.inicio %>
</p>

<p>
  <strong>Final:</strong>
  <%= @persona_feria.final %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @persona_feria.persona_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @persona_feria.status %>
</p>


