
<p>
  <strong>Nome:</strong>
  <%= @apartamento.nome %>
</p>

<p>
  <strong>Status:</strong>
  <%= @apartamento.status %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @apartamento.persona_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @apartamento.obs %>
</p>


