<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @p.nome.titleize %> Tiene Vacacciones Causadas Hoy</h1>
    <%= image_tag('https://site.mercosurcambios.com/Site/img/logo-header.png') %>
  </body>
</html>
