<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Feliz cumpleaños <%= @p.nome.titleize %>! </h1>
    <h3>Que hoy, mañana y siempre tu vida esté repleta de momentos únicos e inolvidables. <br>
      Que la felicidad siempre encuentre el camino de tu corazón. <br>
      Felicidades, que tengas un día hermoso.<br>
      ¡Y una vida maravillosa!
    </h3>

    <%= image_tag('https://site.mercosurcambios.com/Site/img/logo-header.png') %>
  </body>
</html>
