<div class="c-entity-detail-info__header">
  <div class="c-entity-detail-info__header__wrap">
    <div class="c-avatar c-avatar--square c-entity-detail-info__header__avatar c-entity-detail-info__header__avatar--deal">
      <span class="c-icon material-icons c-avatar__icon">
       <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6d758d"><path d="M725.33-327.33q0 103.33-72.45 175.33-72.45 72-175.66 72Q374-80 301.33-152q-72.66-72-72.66-175.33V-704q0-73.33 51.83-124.67Q332.33-880 405.33-880t124.84 51.33Q582-777.33 582-704v356.67q0 43.33-30.67 74-30.66 30.66-74.33 30.66t-74.33-30.45Q372-303.56 372-347.33v-370h66.67v370q0 15.66 11.16 26.83 11.17 11.17 27.6 11.17 16.42 0 27.16-11.17 10.74-11.17 10.74-26.83V-704q-.33-46-32.16-77.67-31.84-31.66-77.98-31.66t-78 31.7q-31.86 31.71-31.86 77.63v376.67q-.33 75.66 52.98 128.16 53.32 52.5 129.02 52.5 75.28 0 127.98-52.5 52.69-52.5 53.36-128.16v-390h66.66v390Z"/></svg>
      </span>
    </div>
  </div>
 <br>
  <div class="c-entity-detail-info__header__text-block">
    <div class="c-entity-detail-info__header__title">Anexo</div>
    <div class="c-entity-detail-info__header__subtitle"></div>
  </div>
</div>

<hr class="c-entity-detail-info__divider">

<div class="c-entity-detail-info__detail">
  <% if @negocio.negocio_produtos.blank? %>
    <h2 align="center">No hay productos seleccionados</h2>
    <% prod = '' %>
  <% else %>
    <%= link_to "Nuevo Plan de Venta", "#", class: 'btn btn-blue',  "data-toggle": "modal", "data-target": "#form_plano_venda_new", "data-dismiss": "modal" %>
    <% prod = @negocio.negocio_produtos.last.produto_id %>
  <% end %>  
</div>
<hr class="c-entity-detail-info__divider">



<div class="modal fade" id="form_plano_venda_new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 600px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel"><%= t('NEW') %> Plan de Ventas</h4>
      </div>
      <div class="modal-body">
          <%= render :partial => '/plano_vendas/modal', locals: {:plano_vendas=>PlanoVenda.new(:persona_id=>@negocio.persona_id, :persona_nome=>@negocio.persona.nome, moeda: @negocio.moeda, produto_id: prod )} %>
      </div>
    </div>
  </div>
</div>