<h1 id="header">persona_apis</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_persona_api_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @persona_apis.each do |persona_api| %>
      <tr>
                <td><%= link_to 'Editar', edit_persona_api_path(persona_api) %></td>
        <td><%= link_to 'Borrar', persona_api, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

