<table class="head_grid">
  <tr>
  <td width="60">Competência</td>
  <td width="200">CC</td>
  <td width="200">Grupo</td>
  <td width="200"><%= t('CLASSIFICATION') %></td>
  <td width="70" align="right"><%= t('VALUE') %></td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @compras_custos.each do |compras_custo| %>
      <tr class="<%= cycle("cor1", "cor2")%>">
        <td><%= link_to t('DELETE'), compras_custo, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
        <% compras_custo.update_attributes(updated_at: '2015-06-01 19:15:25') %>
      </tr>
    <% end %>
  </table>
</div>
