<% if @ft.status == 2 %>
	<h2 style="color: red;font-family: arial;" align="center">ANULADO</h2>
<% end %>
<%= render Form.first.recibo_cobro %>
<p style="margin-left: 15px;">
	<small style="font-family: arial; font-size: 8px;"><%= Form.first.recibo_cobro %></small>
</p>

