$('#busca_colecao').empty();

$('#busca_colecao').append('<option value="">Selecione la Colección</option>');
<% for ne in @colecaos %>
  $('#busca_colecao').append($("<option></option>").attr("value",<%= ne.id %>).text('<%= ne.nome %>').change());
<% end %>