
<p>
  <strong>Boca caja:</strong>
  <%= @boca_cx_produto.boca_caixa %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @boca_cx_produto.produto %>
</p>

<p>
  <strong>Comisión:</strong>
  <%= @boca_cx_produto.comissao %>
</p>


