
<p>
  <strong>Produto composicao:</strong>
  <%= @produto_composicaos_vendas_produto.produto_composicao_id %>
</p>

<p>
  <strong>Vendas produto:</strong>
  <%= @produto_composicaos_vendas_produto.vendas_produto_id %>
</p>


