<%= form_for(vendas_ordem_serv) do |f| %>
<div class="panel">
  <div class="panel-content">
    <div class="group">
      <div class="row">
        <div class="col-md-10" >
          <label>Nº OS</label>
          <%= f.hidden_field :venda_id %>
          <%= f.collection_select :ordem_serv_id, OrdemServ.where(status: 'PENDIENTE', persona_id: @venda.persona_id).select("id,
           ( CAST(ID AS VARCHAR) || '-' || RT) AS rt"), :id, :rt, { prompt: 'Selecione a OS' }, {required: true} %>
        </div>
        <div class="col-md-2" style="margin-top: 27px">

          <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<script>
  $('#vendas_ordem_serv_ordem_serv_id').selectize();
</script>
