
<p>
  <strong>Negocio:</strong>
  <%= @negocio_historico.negocio_id %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @negocio_historico.etapa_id %>
</p>

<p>
  <strong>Tarefa:</strong>
  <%= @negocio_historico.tarefa_id %>
</p>

<p>
  <strong>Tipo tarefa:</strong>
  <%= @negocio_historico.tipo_tarefa_id %>
</p>


