<body onload="window.print()" >
<style type="text/css">
      td{
    font-family: Arial;
    font-size: 10px;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
  }
</style>
<table>
        <tr>
          <td width="30">Codigo</td>
          <td width="150">Produto</td>
          <td width="40" align="right">Cantidad</td>
        </tr>

      <% quebra = "" %>

      <% for produto in @produtos %>
      <% if quebra != produto.sub_grupo_nome %>

        <% if quebra != "" %>

          <tr class="head">
            <td colspan="5" align="right"></td>
          </tr>

         <% end %>
         <tr>
          <td class="head" colspan="5" style="background: #ccc"><%= quebra = produto.sub_grupo_nome %></td>
         </tr>
      <% end %>
        <tr>
          <td width="30" align="left"> <%= produto.barra %> </td>
          <td width="150" align="left"> <%= produto.nome %> </td>
          <td width="40" align="center"><%= format_int(produto.stock.to_f) %></td>
        </tr>
      <% end %>
    </table>
