
<p>
  <strong>Tabela:</strong>
  <%= @config_contabil.tabela %>
</p>

<p>
  <strong>Plano de conta:</strong>
  <%= @config_contabil.plano_de_conta_id %>
</p>

<p>
  <strong>Cod contabil:</strong>
  <%= @config_contabil.cod_contabil %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @config_contabil.descricao %>
</p>


