
<p>
  <strong>Plano:</strong>
  <%= @plano_regra.plano_id %>
</p>

<p>
  <strong>Min gs:</strong>
  <%= @plano_regra.min_gs %>
</p>

<p>
  <strong>Max gs:</strong>
  <%= @plano_regra.max_gs %>
</p>

<p>
  <strong>Max desc:</strong>
  <%= @plano_regra.max_desc %>
</p>


