
<p>
  <strong>Solicitude credio:</strong>
  <%= @solicitude_credito_autorizacao.solicitude_credio_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @solicitude_credito_autorizacao.status %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @solicitude_credito_autorizacao.obs %>
</p>


