<%= form_for(vendas_cond_liq) do |f| %>
<div class="panel">
  <div class="panel-content">
    <div class="group">
      <div class="row">
        <div class="col-md-10" >
          <label>Nº Condicional</label>
          <%= f.hidden_field :venda_id %>
          <%= f.collection_select :condicional_id, Condicional.where(status: 0, persona_id: @venda.persona_id).select('id'), :id, :id, { prompt: 'Selecione la Condicional' }, {required: true} %>
        </div>
        <div class="col-md-2" style="margin-top: 27px">

          <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<script>
  $('#vendas_cond_liq_condicional_id').selectize();
</script>
