
<p>
  <strong>Clase:</strong>
  <%= @clase_tabela_preco.clase_id %>
</p>

<p>
  <strong>Tabela preco:</strong>
  <%= @clase_tabela_preco.tabela_preco_id %>
</p>

<p>
  <strong>Perc:</strong>
  <%= @clase_tabela_preco.perc %>
</p>


