
<p>
  <strong>Ordem serv:</strong>
  <%= @ordem_serv_prod.ordem_serv %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @ordem_serv_prod.deposito %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @ordem_serv_prod.produto %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @ordem_serv_prod.quantidade %>
</p>


