<div class="row">
  <div class="col-md-8">
    <%= render 'menus/main_rh/agenda_escala_empleado' %>
  </div>

  <div class="col-md-4">
    <%= render 'menus/main_rh/escala_empleado' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'menus/doc_vencimento' %>

  </div>
  <div class="col-md-4">
    <%= render 'menus/aniversarios' %>
  </div>
</div>


