<div class="modal-body group">
  <%= form_for @turma_persona do |fo| %>
    <div class="row">
      <div class="col-md-12">
        <label>Aluno</label>
        <%= fo.collection_select :persona_id, Persona.where(tipo_cliente: 1), :id, :nome, { prompt: ''}, {required: true, class: 'selectize'} %>
      </div>

      <div class="col-md-12">
        <label>Status</label>
        <%= fo.select :status, [['Activo', true], ['Bloqueado', false] ] %>
      </div>
    </div>
    <div class="footer-buttons">
      <%= fo.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
    </div>
  <% end %>
</div>