
<p>
  <strong>Persona:</strong>
  <%= @turma_persona.persona_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @turma_persona.status %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @turma_persona.turma_id %>
</p>


