
<p>
  <strong>Ip:</strong>
  <%= @painel_cliente_log.ip %>
</p>

<p>
  <strong>Login:</strong>
  <%= @painel_cliente_log.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @painel_cliente_log.senha %>
</p>


