
<p>
  <strong>Documento:</strong>
  <%= @persona_doc.documento_id %>
</p>

<p>
  <strong>Doc attach:</strong>
  <%= @persona_doc.doc_attach %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @persona_doc.nome %>
</p>


