<h1>New nota_credito_proveedor_produto</h1>

<% form_for(@nota_credito_proveedor_produto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', nota_credito_proveedor_produtos_path %>