<div class="row">
	<div class="col-md-8">
		<%= render :partial => "/compras/eps/compras_financa" %>	
	</div>
	<div class="col-md-4">
		<%= render :partial => "/compras/autofatura" %>	
	</div>
</div>
