<table class="head_grid">
  <tr>
    <td width="200">Grupo</td>
    <td width="400">Prazo</td>
  </tr>
</table>

<div class="rolagem_cobro" dir="div">
  <table>
    <% persona_prazos.each do |persona_prazo| %>
      <tr class = "<%= cycle("cor1", "cor2") %>">
      <% gp = GruposPrazo.where("persona_prazo_id = #{persona_prazo.id}")%>
        <td width="200"><%= persona_prazo.grupo.descricao %></td>
        <td width="400"><%= gp.map  { |t| t.prazo.nome }.join(', ') %></td>
        <td><%= link_to t('DELETE'), persona_prazo, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

