<div class="panel">
  <div class="panel-content">
    <%= form_tag busca_consulta_cliente_personas_path, :method => "get" do %>
    <div class="row">
      <div class="col-md-2">
        <h1 id="header">Consulta Cliente</h1>
      </div>
      <div class="col-md-10">
        <div class="input-group" style="margin-top: 15px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <i class="icon-search" aria-hidden="true"></i>
            </button>
          </span>
          <input id="busca" name="busca" type="search" value="<%= params[:busca]%>" placeholder="Buscar" onKeyUp="pesquisa(document.getElementById('busca').value)" size="40" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus />

          <%= image_tag("load.gif", :align => "absmiddle", :border => 0, :id => "spinner", :width => 21, :height => 21, :style =>"display: none;" ) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  <div id="pagina"></div>

<script type="text/javascript">
  function Fecha(id){
   window.location.replace("/personas/"+ id +"/visao_geral_cliente/");
  }

  function pesquisa(valor){
    url="/personas/busca_consulta_cliente?" + $('form').serialize();
    ajax(url);
  }
</script>

<%= javascript_include_tag 'busca_ajax' %>
