<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @persona.nome %>  </h1>
    <h3>Login: <%= @persona.ruc %></h3>
    <h3>Contra-Senha: <%= @persona.senha %></h3>
    
    <br>
    <%= image_tag('https://www.colegiocrecer.edu.py/assets/img/crecer_logo.png', height: '100') %>

    <br>

    Powerby  <a href="https://chronos.com.py" target="_blank?">Chronos Software</a>
    
  </body>
</html>
