
<p>
  <strong>Ordem serv:</strong>
  <%= @ordem_serv_file.ordem_serv_id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @ordem_serv_file.nome %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @ordem_serv_file.picture %>
</p>


