/*
	*= require bootstrap
	*= require bootstrap-theme
	*= require scaffold
	*= require button
	*= require select2
	*= require dropdown
	*= require multi-select
  *= require selectize.bootstrap3
  *= require step-progress.min
  *= require datepicker
  *= require bootstrap-nav-tab-scrollable
  *= require colorpicker
  *= require icons

 */

 #contextMenuContainer {display: none; position: fixed; border: 1px solid gray; background: red; width:200px; z-index: 100;}
#contextMenuContainer #contextMenu {list-style: none; padding: 0px; font-size: 20px;}
#contextMenuContainer #contextMenu li {font-size: 20px; cursor: pointer; padding-top: 5px; padding-left: 20px; padding-right: 20px; padding-bottom: 5px; text-align: center;}

.group h4{
	padding: 10px;
}

.style2{
		float: right;
		margin: 5px;
		display:-webkit-inline-box;
}
.box_red{
		display:table;
		background-color: red;
		color: #fff;
		padding: 1px 4px 1px 4px;
		border-radius: 5px;
		margin-top: -25px;
		margin-left: 65px;
		font-size: 8px;
		text-decoration: none;
}
.profile{
	display:table;
}

@media only screen and (max-width: 768px) {
  .sub-total {

      height: 60px;
      position: fixed;
      left: 0;
      bottom: 0;
      border-top: 2px solid #E0E0E0;
      border-radius: 0px !important;
      background-color: #f5f5f5 !important;
      box-shadow: 0 1px 2px rgb(0 0 0 / 8%) !important;
  }

  .vd-tot-gs{
  	display: none;
  }

	.mobil-vd-tot-gs{
		margin-top: 12px;
		display: block !important;
  	font-size: 25px;
		font-family: 'prox-bold' !important;

	}
}

.mobil-vd-tot-gs{
	display: none;
}