@font-face {
  font-family: 'prox';
	src: url("fonts/proxima-nova.otf") format("opentype");
}

@font-face {
  font-family: 'prox-bold';
	src: url("fonts/proxima-nova-bold.otf") format("opentype");
}

html,body,div,table,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}img,body,html{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}.ext-el-mask
{
  z-index: 100;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.bold{
	font-family: 'prox-bold' !important;
}

.bold-black{
  font-family: 'prox-bold' !important;
  color: #000 !important;
}


body,html {
  height: 100%;
  font-family: 'prox';
  background-color: #eef1f5;
  font-size: 12px;
  color: #999999;
}

div#back{
  margin: 5px;
  padding-top: 35px;
  min-height: 95%;
  height: auto;
  background-color: #eef1f5;
}

div#contents{
    font-family: 'prox';
    color: #999999;
    height: 100%;
    bottom: 0;
    content: '';
    display: table;

    margin: 0 auto;
    margin-top:  34px;
    right: 0;
    border-radius: 8px !important;

background: #FFF;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0 1px 2px,rgba(0,0,0,0.09);
    box-shadow: 0 1px 2px rgba(0,0,0,0.09);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

}


a, a:hover, a:focus{
  text-decoration: none !important;
}

div#contents-simples{
    font-family: 'prox';
    font-weight:500;
    font-weight: normal;
    color:#282828;
    height: 100%;
    bottom: 0;
    content: '';
    display: table;
    margin: 0 auto;
    right: 0;
    top: 0;
}

div#contents h1{
  font-family: 'prox';
}

div.footer{
  font-family: 'prox';
  text-align: center;
  color: #555;
}

.header-top{
  background-color: #1060ff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);  padding: 3px 10px 0px;
  margin: 0;
  height: 60px;
  color: #fff;
}

.header-top a{
  color: #fff;
}

.menubar{
  margin: auto 0;
}

.brand {
  padding-bottom: 0;
  padding-top: 0;
  color: #fff;
  float: left;
  margin-top: 1px;
  height: 30px;
}
.brand-l{
  margin-top: -5px;
  margin-left: -5px;
  height: 28px;
}

.info-right{
  float: right;
  color: #fff;
  display: table;
}

.info-right #bar2{
    margin-top: -16px;
    font-family: 'prox';
}

.divider-vertical{
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 5px 13px 3px 7px;
  margin-top: 10px;
  height: 35px
}

.info-right li{
  list-style: none;
  float: left;
  margin: 12px 2px 5px 2px;
}



.header-label {
  background: transparent;
  background: rgba(0,0,0,0.2);
  padding: 5px;
  display: table;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  margin-top: -4px;
}


.divider {
  display: none;
}

.style3 {
  font-family: 'prox';
  font-size: 36px;
}

.style4 {
  font-family: 'prox';
  font-size: 30px;
}


#mydiv
{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin: 5px auto;

}

#mydiv tr{
  height:35px;
}

#mydiv2{
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  margin: 5px auto;
}

#mydiv2 tr{
  height:35px;

}

.Mensagem{
  font-family: 'prox';
  width: 100%;
  background-color: #dff0d8;
  margin: 5px auto;
  padding: 5px;
  -moz-border-radius:4px;
  -webkit-border-radius: 4px;
  text-align:center;
  color:#3c763d;
  font-size: 14px;
  border: 1px solid #d6e9c6;
}

.Mensagem_error{
  font-family: 'prox';
  width: 100%;
  background-color: #f2dede;
  margin: 5px auto;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  text-align:center;
  color:white;
  font-size: 14px;
}

#error_explanation{
  background-color: #f2dede;
  margin: 10px;
  padding: 5px;
  color:#a94442;
  font-family: 'prox';
  font-size: 13px;
  border: 1px solid #ebccd1;
}

#error_explanation li{
    list-style: square;
    margin-left: 17px;
}


.RolagemMenu
{
    font-family: 'prox';
    background-color: white;
    border: 1px solid #cccccc;
    height:175px;
    font-size: 13px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.RolagemShow
{
    font-family: Arial,sans-serif;
    background-color: white;
    border: 1px solid #cccccc;
    height:220px;
    font-size: 13px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}

div.group_menu
{
    border: 1px solid #b1b5d0;
    margin-top: 10px;
    font-weight:bold;

}

div.group_form
{
    background: #e5e5e5;
}


div.group_menu h2
{
    padding: 5px;
    margin: 0px;
    background: url(/images/fundo.gif);
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.rolagem{
  background: white;
  height:350px;
  overflow:auto;
  padding: 1px 1px 1px 1px;
}

.modal-grid{
  border: 1px solid #cfd8e6;
  border-radius: 5px;
}



.rolagem_grade
{
    border: 1px solid #cccccc;
    background: white;
    height:130px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.rolagem_doble
{
    border: 1px dotted #cccccc;
    background: white;
    height:250px;
    width:1000px;
    overflow-x:auto;
    overflow-y:auto;
    padding: 1px 1px 1px 1px;
}


.rolagem_cobro
{
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    border: 1px dotted #cccccc;
    background: white;
    height:100px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}

.rolagem_min
{
    font:normal 12px arial, helvetica,tahoma,sans-serif;
    border: 1px dotted #cccccc;
    background: white;
    height:80px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}



.cabeca_venda
{
    font-family: Arial,sans-serif;
    font-size:10px;
}

.rolagemExtracto
{
    font-family: Arial,sans-serif;
    border: 1px dotted #cccccc;
    height:200px;
    font-size:10px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.RolagemPedidoIndex
{
    font-family: Arial,sans-serif;
    border: 1px dotted #cccccc;
    height:89px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}


.RolagemPedidoShow
{
    font-family: Arial,sans-serif;
    border: 1px dotted #cccccc;
    height:89px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}

/*PAGINAÇAO--------------------------------------------------------------*/
.pagination {
    padding: 12px;
    margin: 3px;
    font-family: 'prox';
}
.pagination a {
    font-family: 'prox';
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px;
    text-decoration: none;
    color: #000099;
}
.pagination a {
    border:#000099;
    color: #000;
}
.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #515fb6;
    font-weight: bold;
    background-color: #5d9cec;
    color: #FFF;
}
.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 0px solid #eee;
    color: #ddd;
}

 .pagination .previous_page {
    border: 1px solid #e6e6e6;
    margin-bottom: 0px;
    color: #333;
    line-height: 1;
    font-weight:bold;
    background: #eee;
    padding: 5px;
}
.pagination .previous_page.disabled {
    color: #333;
    border: 1px solid #e6e6e6;
    background: #eee;
    padding: 5px;
}
.pagination .current {
  background: #5d9cec;
  color: white;
  border-radius:0.2em;
  padding: 5px 7px 5px 7px;
}
.pagination .next_page {
    border: 1px solid #e6e6e6;
    -webkit-border-radius:0.2em;
    -moz-border-radius:0.2em;
    border-radius:0.2em;
    color: #333;
    line-height: 1;
    font-weight:bold;
    background: #eee;
    padding: 5px;
}
.pagination .next_page.disabled {
  background: white;
  border: 1px solid #e6e6e6;
  color: #777;
}

/*FIM--------------------------------------------------------------*/



/*VALIDAÇAO--------------------------------------------------------------*/
.fieldWithErrors {
    background-color: red;
    display: table;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}


#errorExplanation {
    width: 400px;
    border: 1px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 13px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 13px;
    list-style: square;
}

.cor2 {
  background-color: #fff;
}
.cor1 {
  background-color: #f9f9f9;
}


.cor2:hover {
  background-color: #e6ebf2;
}
.cor1:hover {
  background-color: #e6ebf2;
}


.box_red{
    display:table;
    background-color: red;
    color: #fff;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    margin-top: -4px;
    font-size: 8px;
    display:table;
    text-decoration: none;
}
.profile{
  display:table;
}

.small {
  font-family:'prox';
  color: #212121;
}

h1#header{
	font-size: 17px;
  margin: 0 auto;
  display: flow-root;
  padding: 0px 15px;
  line-height: 70px;
  color: #31304c;
  font-weight: bold;

  border-bottom: 1px solid #F3F5F8;
}


div.group{
  background-color: #fff;
  margin-top: 0px;
  display: block;
  width: 100%;
  border-radius: 8px;
  color: #918f8f;
}

div.acessos{
  padding: 10px 20px 10px 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  background-color: #fff;
  border-bottom: 1px solid #F3F5F8;
}


div.groupvenda
{
    border: 1px solid #b1b5d0;
    margin-bottom: 0px;
    background: #e5e5e5;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
    font-size: 13px;
}
div.groupvendacomprovante
{
    border: 1px solid #b1b5d0;
    margin-bottom: 1px;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
    font-size:32px;
    font-weight:bold;

}


div.group h2{
  font-size: 105%;
  color:#918f8f;
  width: 100%;
  padding:  10px 30px 30px 20px;
}

div.group form{
  font-size: 105%;
  color:#212121;
  width: 100%;
  padding:  10px 30px 30px 25px;
}



div.group a.checked{
  border-bottom: 2px solid #B94A48;
  color: #B94A48;
}


div.group h2 td{
  padding:  5px;
}

/*FIM QUADRO--------------------------------------------------------------------*/

.view_venda{
    float:left;
}
/*MENU -------------------------------------------------------------------------*/

.menu
{

    border-color:#d0d0d0;
    background-color:#f0f0f0;
    background-image:url(gray/toolbar/bg.gif);
    padding:10px 10px 20px;
    border-bottom:1px solid #d0d0d0;;
    font:normal 13px tahoma, arial, helvetica, sans-serif;
    margin: 0px;


}

/*MENU -------------------------------------------------------------------------*/
.menu li{
    float:left;
    height: 23px;
}

.menu li a {
    color:black;
    display:block;
    padding:0px 15px;
    text-align:center;
    text-decoration:none;
}

.menu .cont ul{
    line-height:30px;
}

.menu li a:hover{
    color:#000000;
    text-decoration:none;
    border:1px solid #cccccc;
}

/*  QUADRO LINKS*/
.menu li ul{
    background-color:#f0f0f0;
    border-left:2px solid #cccccc;
    border-right:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display:none;
    height:auto;
    position:absolute;
    width:230px;
    z-index:200;
}

.menu li:hover ul{
    display:block;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

.menu li li {
    display:block;
    float:none;
    width:230px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

.menu li ul a{
    display:block;
    font-size:13px;
    font-style:normal;
    padding:0px 10px 0px 18px;
    text-align:left;
}

.menu li ul a:hover{
    border: 1px solid #cccccc;
    color:#212121;
}

.to-print{
  display: none;
}

@media print {
  body { background-color: #FFF; }
    #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

 .icon-pencil, .icon-trash, .btn{
    display: none;
  }

  .rolagem{
    height: 100%;
  }
  .to-print{
    display: block;
  }

}

div.widget_tableDiv {
  border:1px solid #ACA899;   /* Border around entire widget */
  height: 100px;
  overflow:auto;
  overflow-y:auto;
  overflow:-moz-scrollbars-vertical;
  width:780px;
}

/* ABAS */

ul.tabs {
  height: 22px; /*--Set height of tabs--*/
  background:#fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  margin-bottom: 0px;
}

ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 21px; /*--Subtract 1px from the height of the unordered list--*/
  line-height: 21px; /*--Vertically aligns the text within the tab--*/
  border-left: none;
  margin-bottom: -1px; /*--Pull the list item down 1px--*/
  overflow: hidden;
  position: relative;
  background:#fff;
  font-size: 13px;
  color: #212121;
  letter-spacing: 1px;
  margin-top: -11px;
  margin-left: -8px;
}

ul.tabs li a {
  text-decoration: none;
  color: #353535;
  display: block;
  font-size:14px;
  padding: 0 0px;
  font-family: 'prox';
  outline: none;
}

.tab_container {
  border-top: none;
  overflow: hidden;
  clear: both;
  margin-top: 0px;
  background: #fff;
  min-height: 92%;
  height: auto;
}


.tab_content {
  font-size:12px;
  min-height: 92%;
  height: auto;
  padding: 12px;
}

.tab_content  tr
{
    height:30px;
}


.group h2 tr{
height:20px;
}

fieldset{
  padding: 9px;
  font-size: 14px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]{
  font-family: 'prox';
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}


input[type="password"]{
  font-family: 'prox';
  padding: 9px;
  font-size: 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}


select{
  font-family: 'prox';
  height: 40px;
  padding: 9px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="search"]{
  font-family: 'prox';
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="email"]{
  font-family: 'prox';
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}



input[type="number"]{
  font-family: 'prox';
  height: 34px;
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="url"]{
  font-family: 'prox';
  height: 34px;
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="email"]{
  font-family: 'prox';
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}


input[type="tel"]{
  font-family: 'prox';
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}


input[type="radio"]{
    font-family: 'prox';
    padding: 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;

}

input[type="checkbox"]{
    border: 1px solid #ccc;
    font-family: 'prox';
    font-size: 14px;
    padding: 9px;
    color: #444;
}


input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus,.cmxform .form-group input.error,.cmxform .form-group textarea.error {
    border-color:#B94A48 !important;
}


textarea{
  font-family: 'prox';
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  width:100%;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;

}

input:focus,textarea:focus,select:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid #8cd6f8;
  background-color:#f9f9f9;
}

div#sidebar{
    background: #F4F5F6;
    border:1px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 13px;

    margin-left:10px;

}

#sidebar .section h3{
    color: #666;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin: 5px 0;
    padding: 7px 9px;
    text-shadow: white 0px 1px 1px;
}

#sidebar .field {
    margin: 10px 5px 10px 5px;
}

#sidebar .section .in{
    margin: 0 10px;
    overflow:hidden;
}

#sidebar hr          {
    border:none;
    border-top:1px solid #DDD;
    border-bottom:1px solid #FFF;
}

#sidebar .avatar{
    border: 2px solid #e2e2e2;
    padding: 5px;

}

#sidebar .stock_atual{
    font-size: 20px;
}

.grid  tr{
    height:15px;
}

#img {
  width:70%;
  height:40%;
}


.group h4{
  padding: 5px;
}

#bar1{
  margin: auto 0;
  display:table;
  float: left;
  margin-top: 8px;
  margin-left: 15px;
}

#bar1 a{
}

.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.panel-heading {
  font-size: 19px;
  margin: 0 auto;
  display: block;
  padding: 0px 30px;
  line-height: 70px;
  color: #777777;
  border-bottom: 1px solid #F3F5F8;
}

.panel-footer {
  font-size: 19px;
  margin: 0 auto;
  display: block;
  padding: 0px 15px;
  line-height: 70px;
  color: #777777;
  background-color: #fff;
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  
}

span.btn-success, span.btn-danger, span.btn-primary, span.btn-warning {
  padding: 5px;
  border-radius: 4px;
}

.pdv-default {
  border: 1px solid #e6e6e6;
  border-top: none;
  overflow: hidden;
  clear: both;
  margin-top: 0px;
  background: #fff;
  min-height: 92%;
  height: auto;
}


.pdv-default table{
}


.panel{
  flex-flow: column;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 8px;
  webkit-box-shadow: 0px 4px 16px rgba(71, 94, 127, 0.12);
  box-shadow: 0px 4px 16px rgba(71, 94, 127, 0.12);
}

.panel-body{
  padding:  10px 30px 10px 30px;
}

.layout-pdv{
  display: table;
  margin: 0 auto;
}

.layout-pdv #contents{
  width: 100%;
  margin: 0 auto;
}

.layout-pdv #contents .group{
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 auto;

}

.layout-pdv label{
  padding: 0;
  margin: 0px 0px 0px 5px;
  display: table;
  font-size: 10px;
}
.layout-pdv .group-pdv-grid{
  border: 1px solid #fff;
  background-color: #fff;
  margin-top: 0px;
  display: block;
  width: 100%;
}

.layout-pdv .pdv-total{
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}

.layout-pdv .pdv-form{
  padding: 5px;
}

div#back-pdv{
  min-height: 89%;
  height: auto;
}


.form-group{
  padding: 10px;
}

.panel-content{
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.group h4{
  padding: 5px;
  font-family: 'prox-bold';
}

.group td{
  padding-left: 10px;
  padding-right: 10px;
}

.rolagem td, .listgrid td{
  padding: 10px;
  border-bottom: 1px solid #efefef !important;
  cursor: pointer;
}

.list td {
  padding: 10px;
  border-bottom: 1px solid #efefef !important;
  cursor: pointer;
}

.head_grid td {
  padding: 10px;
  font-family: 'prox-bold';
  color: #222;
}


#field,
label{
  font-size: 14px;
  line-height: 14px;
  display: block;
  margin-top: 10px;
  font-family: 'prox' !important;
}

input.error{border:1px solid #a94442;}
label.error{background:url('admin/error.gif') no-repeat;width:15px;height:15px; color: #a94442;padding-left: 14px; display:initial;}
label.valid{background:url('admin/success.gif') no-repeat;width:15px;height:15px;display:initial;}


.style2{
    float: right;
    margin: 5px;
    display:-webkit-inline-box;
}
.box_red{
    display:table;
    background-color: #a94442;
    color: #fff;
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
    margin-top: -25px;
    margin-left: 65px;
    font-size: 8px;
    text-decoration: none;
}
.profile{
  display:table;
}

.autocomplete{
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.sppiner {
  position: relative;
  float: right;
  top: -28px;
  left: -5px;
  display: none;
}
.sppiner_show {
  display: inline-table;
}


a[disabled],a[readonly],input[disabled],input[readonly],fieldset[disabled],select[disabled],select[readonly] {background-color:#eee;opacity:1; cursor:not-allowed}


.input-addon{
  display: table;
  float: left;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

.input-group-addon-f {
    padding: 9px;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    white-space: nowrap;
    vertical-align: middle;
    float: left;
    margin-left: -1px;
    margin-top: 0px;
    display: block;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.us{
    color: #0acf97 !important;
}

.gs{
    color: #f35b5b !important;
}

.rs{
    color: #0088f9 !important;
}

.panel-content h1{
	padding: 14px 10px 14px 10px;
	color: #222;
  font-size: 16px;
  font-weight: lighter;
}
.modal-title{
	font-size: 17px;
  color: #31304c;
  font-weight: bold;

}

.date-separ{
  float:left;
  padding: 7px 5px 5px 10px;
}

.date-separ-group{
  padding: 16px 0px 8px 10px !important;
  background-color: #fff !important;
  border: 0px !important;
}


.btn-green{
  background: #02bea2;
  color: #fff !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.btn-green:focus{
  background: #02bea2;
  color: #fff !important;
  outline: none;
  opacity: 0.8;
}


.btn-red{
  background: #f35b5b;
  color: #fff !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.btn-red:focus{
  background: #f35b5b;
  color: #fff !important;
  outline: none;
  opacity: 0.8;
}

.btn-blue{
  background: #5076ff;
  color: #fff !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.btn-blue:focus{
  background: #5076ff;
  color: #fff !important;
  outline: none;
  opacity: 0.8;
}

.btn-close{
  background: #fff;
  color: #000 !important;
  margin-top: -8px !important;

}

.footer-buttons .btn-back{
  color: #5d9cec;
  font-weight: bold;
  display: inline-grid;
  margin-left:  15px;
}

.btn-back{
  color: #5d9cec;
  font-weight: bold;
  display: inline-grid;
  margin-left:  10px;
}


.footer-buttons{
  padding-top: 20px !important;
  text-align: center;
}

.panel-field{
  width: 100%;
}

.panel-center{
  content: '';
  display: table;
  margin: 0 auto;
}
.box-panel{
  margin-top: 34px;
}


.panel-icon-right{
  float: right;
  border:  1px solid #212121;
  padding: 1px 4px 1px 4px !important;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.panel-icon-right:hover{
  background-color: #efefef
}

.panel-icon-default{
  border:  1px solid #212121;
  padding: 1px 7px 1px 7px !important;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.panel-tag{
   border-radius: 4px;color: #fff; padding: 1px 8px 1px 8px
}

.panel-body h3{
  font-size: 18px;
  margin-top: 2px;
  color: #777777;
  font-weight: bold;
}

.panel-modal-body{
  padding:  10px 30px 30px 30px;
}

.panel b{
  color: #444;
  font-family: 'prox';
}


.ui-menubar .ui-menu{
  top: 20px;
}


.icon {
    background: url(bg-images.png) no-repeat;
    display: block;
}


.icon.i23 {
  width: 23px;
  height: 23px;
}

.icon.i23.icon-27 {
  background-position: -598px -46px;
}

.icon.i23.icon-26 {
  background-position: -576px -46px;
}

.period-bar{
  padding: 10px;
  display: table;
  margin: 0 auto;
}

.back-periodo{
  float: left;
}

.next-periodo{
  float: right;
}

.label-periodo{
  display: block;
  text-align: center;
  line-height: 23px;
  width: 157px;
  float: left;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  opacity:  0.6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:  0.6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:  0.6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity:  0.6;
}
::-ms-input-placeholder { /* Microsoft Edge */
  opacity:  0.6;
}


#header a{
  color: #cccc;
}

#header a:hover{
  color: #337ab7;
}


#header a.active{
  color: #337ab7;
  text-decoration: none;
}

.navbar-inverse{
  background-color: #1060ff;
  border-color: #1060ff;
}



/* NEW 2nd-Level Dropdown CSS START */
.dropdown-submenu{position: relative;}
.dropdown-submenu .caret{-webkit-transform: rotate(-90deg); transform: rotate(-90deg); float: right; margin-top: 8px}
.dropdown-submenu > .dropdown-menu {top:0; left:100%; margin-top:-6px; margin-left:-1px;}
.dropdown-submenu.open > a:after{border-left-color:#fff;}
.dropdown-submenu.open > .dropdown-menu, .dropdown-submenu.open > .dropdown-menu {display: block;}
.dropdown-submenu .dropdown-menu{margin-bottom: 8px;}
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu ul{background-color: #f6f6f6;}
.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul{background-color:#333;}
.navbar .navbar-nav .open .dropdown-submenu .dropdown-menu > li > a{padding-left: 30px;}
@media screen and (min-width:992px){
    .dropdown-submenu .dropdown-menu{margin-bottom: 2px;}
    .navbar .navbar-nav .open .dropdown-submenu .dropdown-menu > li > a{padding-left: 25px;}
    .navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu ul{background-color:#fff;}
    .navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul{background-color:#fff;}
}
/* NEW 2nd-Level Dropdown CSS END */



.zze-component_button-toggle-options {
    position: relative;
    text-align: center;
    font-size: 0;
    margin: 23px 0 0;
}
.zze-component_button-toggle-options a {
    display: inline-block;
    border: 1px solid #eef1f5;
    background: #fff;
    height: 29px;
    padding: 9px 13px;
    text-align: center;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: 2;
    position: relative;
    -webkit-transition: all .15s ease-out 0s;
    -moz-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
    font-size: 0;
}

.zze-component_button-toggle-options:before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #eef1f5;
    z-index: 1;
}

.zze-component_button-toggle-options {
    position: relative;
    text-align: center;
    font-size: 0;
    margin: 23px 0 0;
}

.zze-component_button-toggle-options a span {
    display: inline-block;
    font-size: 13px;
    color: #9797ad;
    line-height: 29px;
    line-height: 8px;
    vertical-align: top;
    -webkit-transition: all .15s ease-out 0s;
    -moz-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
}

.dollar-dash {
    width: 30px;
}

.badge-icon-dash {
    padding: 7px;
}

.dash-icons {
  position: absolute;
  right: 10px;
  top: -2px;
}


.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 9px;
    line-height: 1;
    font-weight: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-success-lighten {
    color: #0acf97;
    background-color: rgba(10,207,151,.18);
}


.badge-primary-lighten {
    color: #2c60d0;
    background-color: rgba(44,96,208,.18);
}


.badge-danger-lighten {
    color: #fa5c7c;
    background-color: rgba(250,92,124,.18);
}

.dash-badge-icon-primary {
    width: 38px;
    height: 35px;
    padding-top: 3px!important;
}


.text-management-title {
    font-size: 20px;
}

.text-management-title-2x{
    color:white !important;
    font-size: 35px;

}

.card-dashboard {
    min-height: 318px !important;
    padding: 1.5rem;
    margin-bottom: 20px;
    background: #fff;

    @media (max-width: 900px) {
        width: 100% !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    @media (max-width: 1399px) and (min-width: 901px) {
        width: 45% !important;
    }

    @media (min-width: 1400px) {
        min-width: 320px !important;
    }
}

.card-dashboard-money {
    padding: 1.3rem;
    border-radius: 8px;

    @media (max-width: 900px) {
        width: 100% !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    @media (max-width: 1399px) and (min-width: 901px) {
        width: 45% !important;
    }

    @media (min-width: 1400px) {
        min-width: 320px !important;
    }
}

.card-dashboard-aging-bills {
    height: fit-content !important;
    padding-bottom: 20px;
    min-height: 280px !important;
    border: 1px solid red;
}

@media screen and (max-width: 770px) {
    .card-dashboard-aging-bills .label-2 {
        margin-top: 15px;
    }
}
.header-bold {
    font-weight: 900 !important;
    color: #757575 !important;
}

.account-with-category {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-body-dash {
    border-radius: 5px;
}

.black-body {
    background-color: #313a46;
}

.dash-card-day {
    font-size: 20px;
}

.dash-body {
    color: #969ea7;
}

.insight-title{
    color:white !important;
    opacity: 0.7 !important;
    margin-left:2% !important;
}

.insight-card{
    border-radius: 10px !important;
}

.card-content-insight{
    color:white !important;
    margin:2% !important;
}


.color-insight{
    color:white !important
}


.teste-z{
    font-size: 20px;
    z-index: 1 !important;
}

.color-primary{
    background: #3d73dd !important;

}

.dolar-opacity{
    opacity: 0.7;
}


.dollar-dash-card {
    color:white !important;
    opacity: 1 !important;
}

.icon-card{
    opacity : 0.4;
    margin : 3%
}

.dash-body-text-real,
.dash-body-text-main-real,
.dash-body-text-real-revenue {
    font-size: 30px;
    white-space: nowrap;
}
.dash-body-text-real-revenue {
    width: auto;
}

.dash-body-text-main-real {
    font-size: 30px !important;
}

.dash-body-text-real-cifrao {
    font-size: 11px;
    position: relative;
    top: -15px !important;
}

.line-hex {
    font-weight: 500;
    font-size: 13px;
}

.dash-card-drop,
.card-dash-grid {
    display: flex;
    flex-direction: column;
}

.dash-metrics-line {
    font-size: 13px;
}
.empty-bank-account-field {
    background-color: #454d58;
    // display: inherit;
    border-radius: 5px;
    padding-top: 25px;
    padding-left: 3px;
    //position: absolute;
    width: 100%;
    // margin-left: 5%;
    // margin-top: 10%;
    text-align: center;
    margin: 2% auto 0 auto;
    max-width: 395px;
    @media (max-width: 800px) {
        margin-left: 0% !important;
        width: auto;
    }
}

.empty-bank-account-text {
    //display: flex;
    color: white;
    font-size: 18;
    margin: none !important;
    font-weight: bold;
    text-align: center;
}
.empty-bank-account-button {
    // margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: bold !important;
    color: white !important;
}

.bolder {
    border-radius: 10px !important;
}

.dash-metrics-data {
    position: relative;
    bottom: -20px;
}

.card-spinner-loader {
    margin-left: -7px !important;
    margin-top: 6%;
}

.saldo-card-dash:hover {
    text-decoration: underline;
}

.saldo-card-dash{
  font-weight: bold !important;
  font-size: 16px;
}
.monthly-revenues-span-broken {
    display: inherit;
}

.monthly-revenues-span-fixed {
    width: 100%;
}

//TELA MÉDIA - TABLET
@media only screen and (max-width: 1400px) {
    .badges-total {
        display: none;
    }

    .dash-body-text-real,
    .dash-body-text-real-revenue {
        font-size: 35px;
    }

    .monthly-revenues-span-broken {
        display: none;
    }
}

.text-real-monthly-revenue{
    font-size: 18px !important;
}

//TELA PEQUENA - CELULAR
@media screen and (max-width: 800px) {
    .empty-bank-account-field {
        margin-top: 20px !important;
    }

    .monthly-revenues-span-broken {
        display: inherit;
    }
}

.ticket-medio {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: -10px;
}
.ticket-medio-lighter {
    font-weight: 500;
    font-size: 14px;
}

.container-infos,
.container-infos-operacao {
    width: 49%;
}

.container-infos-operacao {
    text-align: right;
    padding-right: 10px;
}

.dashboard-initial-page .card-dashboard {
    min-height: 365px !important;

}

// ================================ CARD DE MARGINS
.text-up-down {
    font-size: 25px;
}

.text-up {
    color: #01cd88;
}
.text-down {
    color: #fa5c7c;
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 5px;
    display: inline-block;
}
.triangle-up {
    border-bottom: 18px solid #01cd88;
}

.triangle-down {
    border-top: 18px solid #fa5c7c;
}

.container-label-gauge {
    font-size: 25px;
}

.margin-item-center {
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
}

.info-prev-month {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.text-title {
    height: 43.22px;
}
@media (max-width: 1385px) and (min-width: 768px) {
    .container-label-gauge {
        font-size: 14px;
    }
    .text-up-down {
        font-size: 0.9rem;
    }
}

@media (max-width: 767px) {
    .card-margins {
        height: auto !important;
    }
    .container-margin-item {
        margin-top: 15px;
    }
    .info-prev-month {
        margin-top: 30px;
    }
    .margin-item-center {
        border-right: none;
        border-left: none;

        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
    }
}

// ============== PROFITABILITY

@media (min-width: 840px) {
    .label-no-wrap {
        white-space: nowrap;
    }
}
.text-medium {
    font-size: 15px;
}

.text-medium2{
    font-size:25px
}

.text-bigger {
    font-size: 30px;
}

.text-tiny{
    font-weight: 100;
}

@media (max-width: 1400px) and (min-width: 768px) {
    .text-medium {
        font-size: 12px;
    }

    .text-bigger {
        font-size: 18px;
        font-weight: 900;
    }
}

.arrow-container {
    width: max-content;
    min-width: 60px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.period-text {
    margin-top: 15px;
}

// @media (min-width: 768px) and (max-width: 1100px) {
//     .arrow-container {
//         margin-top: 5px;
//         margin-bottom: 5px;
//     }
// }
.bordered-card {
    border-right: 1px solid #cecece;

}

@media (max-width: 768px) {
    .dashboard-management {
        height: auto !important;
    }
    .bordered-card {
        border-right: none;
        border-bottom: 1px solid #cecece;
    }
    .period-text {
        margin-top: 5px;
    }
    .arrow-container {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.arrow-container .triangle {
    float: right;
    margin-top: 5px;
}

.arrow-container .triangle-up {
    border-bottom: 12px solid #fff;
}

.arrow-container .triangle-down {
    border-top: 12px solid #fff;
}

.arrow-container-up {
    background: #01cd88;
}

.arrow-container-down {
    background: #fa5c7c;
}

.arrow-container-none {
    background: #98a6ad;
}


.card-dashboard h2, .card-dashboard-money h2{
  font-weight: bold;
  font-size: 15px;
  color: #31304c;
  margin-bottom:  15px;
}

.dash-body-text-main-values {
    font-size: 12px !important;
}

.dash-body-text-values-cifrao {
    font-size: 10px;
    position: relative;
    top: -5px !important;
}

.group-list-dash-values{
  margin-top: 10px;
}
.list-dash-values{
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 5px 0px 10px 0px;

}

.list-dash-values .value-list{
  float: right;
  font-weight: bold;
}

.list-dash-values .descrip-list{
  padding: 3px 3px 6px 3px;
  font-weight: bold;
}

.list-dash-values .category-list{
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 2px 6px 2px 6px;
  display: table-cell;
}


.circle-dash{
  border: 2px solid #eee;
  border-radius: 3px;
  padding: 2px 6px 2px 6px;

}

.dash-btns{
  margin: 0px 0px 5px 0px;
}

.dash-btns .btn-danger{
  padding: 12px 8px !important;
}

.dash-btns .btn-primary{
  padding: 12px 7px !important;
}


.bt-list{
  padding:  4px;
  display: table-cell;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #3366cc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3366cc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.padding-btn{
  padding-top: 26px;
}


  .box-panel-crm{
    margin: 30px 20px 0px 20px;
    flex-direction: row;
  }

  .pipe-steps {
    height: 68vh;
    flex-direction: row;
  }

  .card-step{
    flex-direction: row;
    padding: 6px 8px;
    cursor: pointer;
    margin: 10px 8px;
    height: 85px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 4%);
    border: 1px solid #ddd;
    background-color: #f7f9fc;
  }

  .card-step:hover{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 15%);
  }
  .card-title{
    font-family: 'prox-bold';
    color: #31304c;
    width: 100%;
    font-size: 15px;
  }

  .avatar-vend{
    margin-top: 5px;
    background: #495469;
    border-radius: 50%;
    color: #fff;
    padding-top: 4px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    outline: none;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;    
    font-size: 12px;
    float:left;
  }

  .negocio_tarefa{
    margin-top: 5px;
    border-radius: 16px;
    background: #eaeffc;
    color: #5076FF;
    padding: 2px 10px 0px 10px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    outline: none;
    font-size: 12px;
    float:left;
    height: 25px;

    margin-left: 5px;
  }
  .negocio_tarefa_count{
    float: right;
    font-size: 14px;
    margin-top: 2px;
    font-family: 'prox-bold';
  }
  
  .amount{
    font-family: 'prox-bold';
    margin-top: 8px;
    float: right;
    font-size: 13px;
  }
  .card-cliente{
    color: #31304c;
  }

  .pipe-steps-title{
    
    margin: 10px;
    padding: 20px 0px 10px 0px;
  }

  .panel-title {
    font-family: 'prox-bold';
    color: #000;
  }

  a.panel-title {
    font-family: 'prox-bold';
    color: #495469 !important;
  }

  .bord-stpes{
    width: auto;
    overflow: scroll;
    white-space: nowrap;
    margin-left: 0px;
    margin-right: 0px;
  }
  .bord-steps{
    display: inline-table;
    width: 400px;
    margin-right: 10px;
  }




.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9
}

.tooltip.top {
  padding: 5px 0;
  margin-top: 0px;
  border: none
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
  border: none
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px
}

.tooltip-inner {
  max-width: 200px;
  padding: 4px 9px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 6px
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000
}

select[readonly] {
  background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}