
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @grupos_prazo.persona_id %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @grupos_prazo.grupo_id %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @grupos_prazo.prazo_id %>
</p>


