
<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @tabela_preco.nome %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @tabela_preco.obs %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tabela_preco.status %>
</p>


