
<p>
  <strong>Moeda:</strong>
  <%= @persona_ativo.moeda %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @persona_ativo.valor %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @persona_ativo.persona_id %>
</p>


