
<p>
  <strong>Persona:</strong>
  <%= @persona_escala.persona_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @persona_escala.data %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @persona_escala.obs %>
</p>


