
<p>
  <strong>Lista carga:</strong>
  <%= @lista_carga_produto.lista_carga_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @lista_carga_produto.produto_id %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @lista_carga_produto.presupuesto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @lista_carga_produto.quantidade %>
</p>


