<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <%= @turno.nome %>
      </div>
      <div class="panel-body">
        <%= form_tag gerar_carga_horaria_turnos_path, class: 'form-default' do %>

        <% end %>

        <%= Date::DAYNAMES[Date.today.wday] %>
      </div>
    </div>
  </div>
</div>
