<div class="panel">
  <h1 id="header">
    Editar
    <div class="pull-right">
      <%= link_to 'Volver', presupuesto_path(@presupuesto), class: 'btn'%>
    </div>
  </h1>
  <div class="panel-content">
    <% if Empresa.last.segmento.to_i == 1 %>
      <%= render :partial=>"presupuesto_produtos/new_produto_educacao" , :locals=>{:presupuesto => @presupuesto, :presupuesto_produto => @presupuesto_produto} %>
    <% elsif Empresa.last.segmento.to_i == 5 %>
      <%= render :partial=>"presupuesto_produtos/new_produto_alquiler" , :locals=>{:presupuesto => @presupuesto, :presupuesto_produto => @presupuesto_produto} %>
    <% else %>
      <%= render :partial=>"presupuesto_produtos/new_produto_comercial" , :locals=>{:presupuesto => @presupuesto, :presupuesto_produto => @presupuesto_produto} %>
    <% end %>
  </div>
</div>


