
<p>
  <strong>Periodo:</strong>
  <%= @block_financeiro.periodo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @block_financeiro.status %>
</p>

<p>
  <strong>User created:</strong>
  <%= @block_financeiro.user_created %>
</p>


